<div class="bg-white shadow-lg rounded-lg p-6 md:p-8">
  <h2 class="text-3xl text-[#2BAE66] font-bold font-serif text-center mb-6">Enter New Password</h2>
  <form class="space-y-6" [formGroup]="formData" (ngSubmit)="handleSubmit()">

    <div class="mb-6">
      <label class="block text-[#2BAE66] text-sm font-bold mb-2" for="password">Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password" type="password" placeholder="Password" formControlName="Password">
        <div class="text-red-500" *ngIf="formData.get('Password')?.invalid && formData.get('Password')?.touched">
          <small class="text-red-500" *ngIf="formData.get('Password')?.errors?.['required']">Password is required</small>
          <small class="text-red-500" *ngIf="formData.get('Password')?.errors?.['pattern']">Password must contain at least 8 characters, a number, and a special character</small>
        </div>
    </div>
    <div class="mb-6">
      <label class="block text-[#2BAE66] text-sm font-bold mb-2" for="password">Confirm Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="ConfirmPassword" type="password" placeholder="Password" formControlName="ConfirmPassword">
        <div class="text-red-500" *ngIf="formData.errors?.['passwordsMismatch'] && formData.get('ConfirmPassword')?.touched">
          <small class="text-red-500">Passwords do not match</small>
        </div>
    </div>
    <div class="">
      <button
        class="bg-[#2BAE66] hover:bg-[#239F57] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        type="submit">
        Change Password
      </button>

    </div>
  </form>
</div>
