<div class="p-5 ">
  <div class="max-w-7xl mx-auto flex flex-col  md:flex-row items-center justify-between">
    <div class="md:w-1/2 mb-6 md:mb-0">
      <h1 class="text-4xl font-bold text-[#2BAE66] mb-4">Find Your Perfect Stay, Anywhere</h1>
      <p class="text-lg text-gray-600 mb-6">
        Find unique places to stay with local hosts in 28 states.
      </p>
      <button (click)="toHostels()" routerLinkActive="router-link-active"  class="bg-[#2BAE66] text-white px-6 py-2 rounded-full hover:bg-green-600 transition duration-300">
        BOOK NOW →
      </button>
    </div>
    <div class="md:w-1/2">
      <img src="assets/banner3.png" alt="Reception" class="w-full  "/>
    </div>
  </div>
  <div class="mt-8 bg-green-200 p-6 rounded-lg">
    <h2 class="text-center text-xl mb-4">Over 10,000+ hostels across all states in India</h2>
    <div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
      <input type="text" placeholder="Eg: city|state|landmark" class="p-2 rounded-md w-full sm:w-64"/>
      <select class="p-2 rounded-md w-full sm:w-48">
        <option>Men|Women|Unisex</option>
      </select>
      <button class="bg-[#2BAE66] text-white px-6 py-2 rounded-md hover:bg-green-600 transition duration-300">
        Explore
      </button>
    </div>
  </div>

  <div class="mt-10 flex-col justify-center items-center">
    <h1 class="text-[#2BAE66] text-4xl font-bold text-center mb-10">Recently Added Hostels</h1>
    <div class="flex flex-wrap gap-x-3 justify-center">
      <div *ngFor="let hostel of hostels$" class="h-fit">
        <app-hostel-card [hosteDetails]="hostel"></app-hostel-card>
     </div>
    </div>

  </div>
</div>
