<div class="bg-white shadow-lg rounded-lg p-6 md:p-8">
  <h2 class="text-3xl text-[#2BAE66] font-bold font-serif text-center mb-6">Change Your Password</h2>
  <form class="space-y-6" [formGroup]="formData" (ngSubmit)="handleSubmit()">
    <div class="mb-6">
      <label class="block text-[#2BAE66] text-sm font-bold mb-2" for="newPassword">New Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="newPassword" type="password" placeholder="New Password" formControlName="newPassword">
        <div class="text-red-500" *ngIf="formData.get('newPassword')?.invalid && formData.get('newPassword')?.touched">
          <small class="text-red-500" *ngIf="formData.get('newPassword')?.errors?.['required']">New Password is required</small>
          <small class="text-red-500" *ngIf="formData.get('newPassword')?.errors?.['pattern']">Password must contain at least 8 characters, a number, and a special character</small>
        </div>
    </div>

    <div class="mb-6">
      <label class="block text-[#2BAE66] text-sm font-bold mb-2" for="confirmPassword">Confirm Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirmPassword" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="text-red-500" *ngIf="formData.get('confirmPassword')?.invalid && formData.get('confirmPassword')?.touched">
          <small class="text-red-500" *ngIf="formData.get('confirmPassword')?.errors?.['required']">Confirm Password is required</small>
        </div>
        <div class="text-red-500" *ngIf="formData.hasError('passwordsMismatch')&& formData.get('confirmPassword')?.touched">
          <small class="text-red-500">Password must be same</small>
        </div>
    </div>

    <div class="">
      <button
        class="bg-[#2BAE66] hover:bg-[#239F57] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        type="submit">
        Change Password
      </button>
    </div>
  </form>
</div>
